*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo img {
    width: 70px;
    height: 70px;
}

li {
    list-style: none;
}



#navbarSupportedContent ul {
    margin: auto;

}

#navbarSupportedContent ul li a {
    font-size: 25px;
    padding: 2px 20px;
    margin: 2px;
    border-radius: 10px;

}

#navbarSupportedContent ul li a:hover {
    background-color: rgb(61, 27, 10);
    color: white;
}

.main {
    margin: auto;
}

.main img {
    height: 200px;
    border-radius: 10px;
}

#items div {
    margin: 20px;
    padding: 2px;
}


.card-body {
    text-align: center;
}

.card{
    border-radius: 10px;
}

.hello img{
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hello img:hover{
    opacity: 0.5;
}




/* sidebar */
.categories {
    overflow-y: scroll;
    height: 100vh;
}


.categories ul li {
    list-style: none;
    margin-left: 10px;

}

.categories ul li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
    margin: 4px;
    padding: 2px;
    border-radius: 10px;
    background-color: aliceblue;

}

.categories ul li a:hover {
    background-color: rgb(61, 27, 10);
    color: white;
}


/* footer */
#foot{
    background-color: aliceblue;
}
#branches{
    text-align: center;
}

#copy{
    text-align: center;
}


